<table border="2">
	<tr>
		<th> Name : </th>
		<td> <%= @project.name %> </td>
	</tr>
	<tr>
		<th> Details : </th>
		<td> <%= @project.details %> </td>
	</tr>
	<tr>
		<th> Time Period : </th>
		<td> <%= @project.time_period %> </td>
	</tr>
	<tr>
		<th> Skill Required : </th>
		<td> <%= @project.skills %> </td>
	</tr>
	<tr>
		<th> Status : </th>
		<td> <%= @project.status %> </td>
	</tr>

	<% if current_user.type=="Client" %>
		<tr>
			<th>
				<%= link_to "Edit Details", edit_project_path(@project.id) %>
			</th>
			<th>
				<%= link_to "Delete Project", project_path(@project.id) , data: {confirm: "Are you Sure to Delete?" } %>
			</th>
		</tr>
		<% if @project.status == "Pending" %>
			<% @applicants.each do |applicant| %>
				<tr>
					<% user = applicant.user_id %>
					<th> <%= UserDetail.find(user).name %> </th>
					<% var = {:id => @project.id , :user_id=>user} %>
					<th> <%= link_to "assign" , assignProject_project_path(var) %></th>
				</tr>
			<% end %>
		<% else %>
			<tr>
				<th> <%= @applicant.user_detail.name %> </th>
				<th>
					<%= link_to "view" , user_detail_path(@applicant) %>
					<% if @project.status == "Completed" %>
						<%= link_to "rate him" , "#" %>
					<% end %>
				</th>
			</tr>
		<% end %>
	<% else %>
		<% @apply=AppliedProject.where('project_id = ?' , @project) %>
		<% @new_apply=@apply.where('user_id= ?', current_user.id).limit(1) %>
		<% if @new_apply.blank? %>
			<tr>
				<td colspan="2"><%= link_to "apply" , apply_project_path(@project.id) %></td>
			</tr>
		<% end %>
	<% end %>
</table>