<table border="1">
	<tr>
		<th colspan="5"> All Applicants Details for "<%= @project.name %>" Project </th>
	</tr>
	<tr>
		<th> Sr. No. </th>
		<th> Name  </th>
		<th> Skills </th>
		<th> Experience </th>
		<th> Action </th>
	</tr>
	<% i=0 %>
	<% @applicants.each do |applicant| %>
		<tr>
			<td>
				<%= i=getSrNo(i) %>
			</td>
			<td>
				<%= applicant.user.user_detail.name %>
			</td>
			<td>
				<%= applicant.user.user_detail.skills %>
			</td>
			<td>
				<%= applicant.user.user_detail.experience %>
			</td>
			<td>
				<%= link_to "view details" , user_detail_path(applicant.user.user_detail) %>
				<% var={:project_id => @project , :user_id => applicant.user_id} %>
				<%= link_to "assign project" , assignProject_project_path(var) %>
			</td>
		</tr>
	<% end %>
</table>