<table>
	<tr>
		<td colspan="2">
			<h3> Add your Details </h3>
		</td>
	</tr>
	<tr>
		<th>
			Full Name :
		</th>
		<td>
			<%= f.text_field :name %>
		</td>
	</tr>
	<tr>
		<th>
			Qualification :
		</th>
		<td>
			<%= f.text_field :qualification %>
		</td>
	</tr>
	<tr>
		<th>
			Skills :
		</th>
		<td>
			<%= f.text_field :skills %>
		</td>
	</tr>
	<tr>
		<th>
			Contact No. :
		</th>
		<td>
			<%= f.text_field :contact_number %>
		</td>
	</tr>
	<tr>
		<th>
			Experience :
		</th>
		<td>
			<%= f.text_field :experience %>
		</td>
	</tr>
	<tr>
		<th>
			Specialist In :
		</th>
		<td>
			<%= f.text_field :specialist_in %>
		</td>
	</tr>
	<tr>
		<th colspan="2">
			<%= f.submit('Submit') %>
		</th>
	</tr>
</table>